main {
  padding: 30px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;

  width: 600px;
  height: 40px;
  padding-left: 10px;
  background-color: green;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;

  outline: none;

  cursor: pointer;
}

select option {
  color: black;
  background-color: white;
}

.menuDropdown:before {
  content: "\25BC";
  font-size: 20px;
  position: absolute;
  left: 610px;
  top:128px;
  color: white;

  pointer-events: none;
}

.menuDropdown {
  margin-bottom: 20px;
  display: inline-flex;
}

.legend {
  margin-left: 50px;
}

.key-dot {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.shot {
  fill: green;
  background: green;
}

.target {
  fill: black;
  background: black;
}

.highlight {
  fill: orange;
}

.value {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
