<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bundesliga in bunt</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/sunburst.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <a href="index.htm"><img id="logo" src="img/logo.png" alt="Fußball-Logo"></a>
      <div class="">
        <h1>Bundesliga in bunt</h1>
        <p>Datenvisualisierung mit d3</p>
      </div>
    </header>

    <nav>
      <a href="bubble.htm"><div>Fouls und Karten</div></a>
      <a href="treemap.htm"><div>Heim- und Auswärtsstärke</div></a>
      <a class="nav-selected" href="sunburst.htm"><div>Halbzeit- vs. Endergebnis</div></a>
      <a href="barchart.htm"><div>Schüsse vs. Torschüsse</div></a>
      <a href="path.htm"><div>Spielerwanderung</div></a>
    </nav>



    <main>
      <div id="selection"></div>
      <div id="chart">
        <h2>Vergleich zwischen Halbzeitstand und Endstand</h2>
        <div class="legend"></div>
        <svg></svg>
        <div id="info"></div>
      </div>
    </main>

    <footer>
      <p>Design by: David Krammer, Anne Köthke, Daniela Krapf</p>
    </footer>

    <!-- <script type="text/template" id="percentage-information">
      <p>Der Verein <%= team %> hat in der Saison 2016/17 34 Spiele gespielt. Davon hat er <%= win%> gewonnen, <%= loss%> verloren und <%= draw%> gingen unentschieden aus.</p>
    </script> -->

    <script type="text/template" id="legend-template">
      <div><span class="key-dot win"></span><span class="description">Endstand Sieg <br> Gesamt <%= win %></span></div>
      <div><span class="key-dot loss"></span>Endstand Niederlage <br> Gesamt <%= loss %></div>
      <div><span class="key-dot draw"></span>Endstand Unentschieden <br> Gesamt <%= draw %></div>
    </script>

    <script src="underscore/underscore-min.js"></script>
    <script src="./lib/d3/d3.js"></script>
    <script type="text/javascript" src="js/Sunburst.js"></script>
    <script type="text/javascript" src="js/helper.js"></script>
    <script>Sunburst.init()</script>
  </body>
</html>
